services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    container_name: backend
    ports:
      - "${BACK_PORT}:${BACK_PORT}"
    env_file:
      - ./backend/.env
    restart: always
    volumes:
      - ./nginx/ssl:/etc/nginx/ssl:ro
      - ./backend/src/data:/usr/src/app/src/data:ro

  webapp:
    build:
      context: ./web_app
      dockerfile: Dockerfile
    container_name: web_app
    ports:
      - ${WEBAPP_PORT}:80
    restart: always
    depends_on:
      - backend
    env_file:
      - "./web_app/.env"

  admin_webapp:
    build:
      context: ./admin_web_app
      dockerfile: Dockerfile
    container_name: admin_webapp
    ports:
      - ${ADMIN_WEBAPP_PORT}:80
    restart: always
    depends_on:
      - backend
    env_file:
      - "./admin_web_app/.env"
