.live-holder {
    z-index: 9999;
    position: absolute;
    top: 0;
    right: 0;

    color: red;
    font-weight: 600;
    font-size: 1.2rem;

    .live-component {
        position: relative;
        top: 6px;
    }

    p {
        position: relative;
        top: 3px;
    }
}
