@import './assets/styles/app.css';

*::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #1F2937;
}

*::-webkit-scrollbar
{
	width: 12px;
    height: 12px;
	background-color: #1F2937;
}

*::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #374151;
}

* {
    user-select: none;
}