.livenow {
    width: 30px;
    margin: 0 auto;
    display: inline-block;
}

.livenow > div {
    vertical-align: middle;
    width: 22px;
    height: 22px;
    border-radius: 100%;
    position: absolute;
    margin: 0 auto;
    border: 3px solid rgba(255, 0, 0, 1); /* Red border */
    animation: live 1.4s infinite ease-in-out;
    animation-fill-mode: both;
}

.livenow > div:nth-child(1) {
    background-color: rgb(255, 47, 47); /* Red background with transparency */
    animation-delay: -0.1s;
}

.livenow > div:nth-child(2) {
    animation-delay: 0.16s;
}

.livenow > div:nth-child(3) {
    animation-delay: 0.42s;
    border: 3px solid rgba(255, 0, 0, 0.5); /* Lighter red border */
}

.livenow > div:nth-child(4) {
    border: 3px solid rgba(255, 0, 0, 1); /* Solid red border */
    animation-delay: -0.42s;
}

@keyframes live {
    0%,
    80%,
    100% {
        transform: scale(0.6);
    }
    40% {
        transform: scale(1);
    }
}
