@import './assets/styles/app.css';



*::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #1f2937;
}

*::-webkit-scrollbar {
    width: 12px !important;
    height: 12px !important;
    background-color: #1f2937 !important;
}

*::-webkit-scrollbar-thumb {
    border-radius: 10px !important;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3) !important;
    background-color: #374151 !important;
}



.can-select,
.can-select * {
    user-select: text !important;
}

/* Add this to your main CSS file or within a style tag in your main HTML/JSX file */

.marker-cluster div {
    background-color: red !important;
    color: white;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}

#map {
    height: 100vh; /* Full viewport height */
    width: 100%; /* Full width of parent element */
    overflow: hidden; /* Prevent scrollbars */
}

.no-wrap {
    text-wrap: nowrap;
}
